<div class='row'>
  <div class='col-sm-3'>
      <%if @entries.size==0%><p>No Jobs to show.</p><%end%>
  </div>
  <div class='col-sm-9'></div>
</div>
<%=render 'searchBlock'%>

<%if $view_field=='list'%>
    <%=render 'listView'%>
<%else%>
    <%=render 'gridView'%>
<%end%>